version: '3.8'

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://72.61.232.29:8000
    depends_on:
      - backend