@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
  overflow: hidden; /* Prevent scrollbars */
  cursor: none; 
}

/* Custom Scrollbar for Chat */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff; 
}